# local env files
.env.local
.env.*.local


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv
db.sqlite3
media

__pycache__
*.pyc

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.coverage 
.coverage.* 
.cache



prod_settings.py
settings.py
