tat@zork:~/notes/templates$ cat 500.html
{% extends 'base.html' %}
{% load static %}

{% block hero %}
{% endblock hero%}

{% block search %}
{% endblock search %}

{% block front %}
{% endblock front %}

{% block content %}
<main class="container-section">
    <div class="container-wrapper">
        <div>
            <h1>Oops, Server Error</h1><br>
            <a href="/" class="button-home">Home</a>
        </div>
    </div>
</main>

{% endblock content %}

{% block archive %}

{% endblock archive %}
{% block tags %}

{% endblock tags %}